<%- include('partials/header.ejs') %>
<main>
	<div class="container-fluid d-flex justify-content-around flex-wrap mt-5">
		<div class="episode box  rounded"></div>
		<div class="thoughts box  rounded"></div>
		<div class="rated box  rounded"></div>
		<div class="prompts box  rounded"></div>
		<div class="lifegoals box  rounded"></div>
		<div class="todo box  rounded"></div>
	</div>
</main>
<%- include('partials/footer.ejs') %>