<%- include('../partials/header.ejs')  %>
<div class="container">
    <div class="p-5 w-100">
        <% if(locals.type === "goal") { %>
            <div class="bg-dark">
                <h1 class="text-light p-2 m-0">Add New Goal</h1>
            </div>
            <div class="bg-light p-2">
                <form action="/addgoal" method="post">
                    <input type="text" name="goal" id="goal" class="w-100  border-0 " placeholder="Enter your goal here" style="height: 40px; font-size: 25px;">
                    <button class="btn btn-primary btn-lg m-2">Add</button>
                </form>
            </div>
        <% } else if(locals.type === "prompt") { %>
            <div class="bg-dark">
                <h1 class="text-light p-2 m-0">Add New Prompt</h1>
            </div>
            <div class="bg-light p-2">
                <form action="/addprompt" method="post">
                    <input type="text" name="prompt" id="prompt" class="w-100  border-0 " placeholder="Enter your prompt here" style="height: 40px; font-size: 25px;">
                    <button class="btn btn-primary btn-lg m-2">Add</button>
                </form>
            </div>
       <% } %>
    </div>
</div>
<%- include('../partials/footer.ejs') %>