<%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="todo pt-5">
            <div class="bg-dark w-75 d-flex justify-content-between align-items-center">
                <h1 class="m-0 text-light p-2">Todo Item</h1>
                <h1 class="text-light p-2">End Time</h1>
            </div>
            <form action="/newtodo" method="post">
                <div id="newinput">
                    <div class="inputs d-flex justify-content-between align-items-center bg-light w-75 gap-2">
                        <input type="text" name="todo[]"  class=" todo p-2 w-75 border-0 mb-1" placeholder="Enter your todo here" style="height: 50px; font-size: 25px;">
                        <input type="date" name="end[]" id="date" class="p-2 w-25 border-0">
                    </div>
                </div>
                <div class="submit mt-2 d-flex gap-2">
                    <input type="button" class="btn btn-lg btn-warning" onclick="newTask()" value="New Task">
                    <button class="btn-lg btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function newTask() {
            let newDiv = document.createElement('div');
            newDiv.classList.add("inputs", "d-flex", "justify-content-between", "align-items-center", "bg-light", "w-75", "gap-1");
            let newInput = document.createElement('input');
            newInput.type = "text";
            newInput.name = "todo[]";
            newInput.classList.add("todo", "p-2", "w-75", "border-0", "mb-2");
            newInput.placeholder = "Enter your todo here";
            newInput.style.height = "50px"; 
            newInput.style.fontSize = "25px";

            let newDate = document.createElement('input');  
            newDate.type = "date";
            newDate.name = "end[]";
            newDate.id = "date";
            newDate.classList.add("p-2", "w-25", "border-0");
            
            newDiv.appendChild(newInput);
            newDiv.appendChild(newDate);
            document.getElementById('newinput').appendChild(newDiv);
        }
    </script>
<%- include('../partials/footer.ejs') %>