@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ranga:wght@400;700&display=swap');
body {
	padding: 0;
	margin: 0;
	background-color: #d9d9d9;
}

.nav {
	background-color: #343434;
	height: 100px;
	align-content: center;
}

.nav-img {
	width: 60px;
}

.start, .end {
	display: flex;
	gap: 7px;
	align-items: center;
}

h1 > a {
	text-decoration: none;
	font-family: "Ranga", serif;
	color: #d9d9d9;
	font-size: 80px;
}
h1, h2, h3, p{
	color: #37352F;
	font-family: "Montserrat", serif;
}

.box {
	width: 450px;
	height: 300px;
	margin:30px;
	background-color: #ffffff;
}

label {
	height: 80px;
	font-family: "Montserrat", serif;
	font-size: 30px;
	font-weight: bold;
}

hr{
	color: #000;
	background-color: #000;
	height: 3px;
	border: none;
}
p {
	font-weight: normal;
	font-size: 20px;
}

.no-episode, no-thought {
	width: 100%;
	height: 500px;
	/* background-color: #ffffff; */
}

.episode-post, .thought-post {
	width: 200px;
	height: 200px;
	background-color: #ffffff;
}

[contenteditable] {
	outline: 0px solid transparent;
}

li {
	font-size: 25px;
	color: #44423D;
}

.heading h2{
	color: #ffffff;
	text-align: center;
}

#todo-completed{
	width: 20px;
	height: 20px;
	/* align-self: center; */
}

.item {
	text-align: center;
}